body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 30px;
}

.weather-container {
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.weather-search-container{
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
  flex-direction:row;
  align-items:center;
}
.inputBox{
  width:75%;
  height:40px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #0078D7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.weather-info {
  text-align: center;
}

.main-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.main-weather img {
  width: 80px;
}

.extra-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}

.info-block {
  background: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-block img {
  width: 30px;
}
